@model IEnumerable<proyectoFinalCursoAPSNet.Models.Producto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<table class="table" cellspacing="2" cellpadding="5">
   
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            @{ if (item.URLImagen != null)
                {

                    <img class="img-thumbnail" src='@Html.DisplayFor(model => item.URLImagen)' alt="Alternate Text" style="width:25%" />
                    @*@Html.DisplayFor(modelItem => item.Nombre)*@

                }

            }

        </tr>
        }


        @*<tr>
            @{ var itemCount = 0;}
            @foreach (var item in Model)
            {

                if (itemCount > 4)
                {
                    Html.Raw("<tr>");
                }

                { if (item.URLImagen != null)
                    {
                        <td>
                            <img class="img-thumbnail" src='@Html.DisplayFor(model => item.URLImagen)' alt="Alternate Text" style="width:25%" /><br />
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>

                    }

                }
                if (itemCount > 4)
                {
                    Html.Raw("</tr>");
                    itemCount = 0;
                 }
                 else
                 { itemCount++; }
            }

            </tr>*@



        </tbody>
        </table>

